<template>
  <v-main class="grey darken-4">
    <v-row>
      <v-col cols="12" sm="2"></v-col>
      <v-col cols="12" sm="8">
        <v-row id="row-1">
          <v-col cols="6" sm="6" id="col-1">
            <div class="container">
              <ul id="ul-1">
                <li><h2>Muhammad Naufal Al aziz</h2></li>
                <li><h2>I Gusti Glen Joyo Diningrat Wiyono</h2></li>
                <li><h2>Marissa An Nisa Permatahati Koswara</h2></li>
              </ul>
            </div>
          </v-col>
          <v-col cols="6" sm="6" id="col-2">
            <div class="container">
              <h1>Vue JS | Jabar Coding Camp</h1>
              <p>Blog website ini dibuat untuk bahan penilaian final project- kelas Vue JS Jabar Coding Camp, Batch II.
                &copy; April 2022
              </p>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="2"></v-col>
    </v-row>
  </v-main>
</template>

<script>
export default {};
</script>

<style scoped>
#row-1 {
  padding: 2rem 2rem 4rem 2rem;
}
#col-1 {
  text-align: center;
  color: white;
  min-height: 700px;
  border-right: 2px solid white;
}

#col-1 .container {
  margin-top: 45%;
  text-align: left;
}

#ul-1 {
  list-style-type:disc;
  text-decoration: none;
}

#ul-1 li h2{
  margin-bottom: 5px;
  font-weight: 100;
}

#col-2 {
  padding: 2rem 2rem 4rem 2rem;
  color: white;
}

#col-2 .container {
  margin-top: 42%;
  padding-left: 6rem;
  text-align: left;

}

#col-2 .container h1{
  margin-bottom: 25px;
}


#btn-text {
  margin-left: 2em;
}

#regist-form {
  padding: 2rem;
}
</style>