<template>
  <v-main class="grey lighten-3">
    <v-row>
      <v-col cols="12" sm="2"> </v-col>
      <v-col cols="12" sm="8">
        <v-card
          id="card1"
          elevation="2"
          outlined
          v-for="blog in blogs"
          :key="blog.id"
          :blog="blog"
        >
          <v-card-title>{{ blog.title }}</v-card-title>
          <v-img
            :src="
              blog.photo
                ? apiDomain + blog.photo
                : 'https://picsum.photos/200/300'
            "
            class="white--text"
            height="200px"
          ></v-img>
          <v-card-subtitle>{{ blog.created_at }}</v-card-subtitle>
          <v-card-text>{{
            blog.description.substring(0, 25) + "..."
          }}</v-card-text>
          <v-btn text :to="'/blog/' + blog.id">Read More ...</v-btn>
          <v-divider></v-divider>
          <v-btn
            text
            id="btn-manage"
            v-if="token.length !== 0"
            class="text--danger"
            color="error"
          >
            <RemovePost v-on:update-list="go" :blog="blog" />
          </v-btn>
          <v-btn
            text
            id="btn-manage"
            v-if="token.length !== 0"
            class="text--danger"
            color="success"
          >
            <UploadPhoto v-on:update-list="go" :blog="blog" />
          </v-btn>
          <v-btn
            text
            id="btn-manage"
            v-if="token.length !== 0"
            class="text--danger"
            color="primary"
          >
            <EditPost v-on:update-list="go" :blog="blog" />
          </v-btn>
        </v-card>
        <v-pagination
        color="error"
          v-model="page"
          @input="go"
          :length="lengthPage"
          :total-visible="perPage"
        >
        </v-pagination>
      </v-col>
      <v-col cols="12" sm="2"> </v-col>
    </v-row>
  </v-main>
</template>

<script>
import axios from "axios";
import RemovePost from "../components/RemovePost.vue";
import UploadPhoto from "../components/UploadPhoto.vue";
import EditPost from "../components/EditPost.vue";
import { mapState } from "vuex";

export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    blogs: [],
    page: 0,
    lengthPage: 0,
    perPage: 0,
  }),
  components: {
    RemovePost,
    UploadPhoto,
    EditPost,
  },
  computed: {
    ...mapState({
      token: (state) => state.token,
    }),
  },
  methods: {
    async go() {
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog?page=" + this.page,
      };

      try {
        const response = await axios(config);
        let { blogs } = response.data;
        this.blogs = blogs.data;
        this.page = blogs.current_page;
        this.lengthPage = blogs.last_page;
        this.perPage = blogs.per_pagew;
      } catch (error) {
        alert("server error");
      }
    },
  },
  created() {
    this.go();
  },
};
</script>

<style scoped>
#btn-manage {
  margin-top: 9px;
  margin-right: 5px;
}

#card1 {
  padding: 20px;
  margin-bottom: 1rem;
}
</style>