<template>
  <v-main class="grey lighten-3">
    <v-row>
      <v-col cols="12" sm="2"> </v-col>
      <v-col cols="12" sm="8">
        <div>
          <v-card>
            <v-responsive :aspect-ratio="16 / 9">
              <v-img
                :src="
                  blog.photo
                    ? apiDomain + blog.photo
                    : 'https://picsum.photos/200/300'
                "
                class="white--text"
                max-height="700"
              ></v-img>
            </v-responsive>
          </v-card>
        </div>
        <v-card id="card1" elevation="2" outlined>
          <v-card-title>{{ blog.title }}</v-card-title>

          <v-card-subtitle>{{ blog.created_at }}</v-card-subtitle>
          <v-card-text>{{
            blog.description
          }}</v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="2"> </v-col>
    </v-row>
  </v-main>
</template>


<script>
import axios from "axios";

export default {
  data: () => ({
    blog: {},
    apiDomain: "http://demo-api-vue.sanbercloud.com",
  }),
  methods: {
    go() {
      let { id } = this.$route.params;
      const config = {
        method: "get",
        url: `https://demo-api-vue.sanbercloud.com/api/v2/blog/${id}`,
      };

      axios(config)
        .then((response) => {
          let { blog } = response.data;
          this.blog = blog;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.go();
  },
};
</script>