<template>
  <v-main class="grey lighten-3">
    <v-row>
      <v-col cols="12" sm="2"></v-col>
      <v-col cols="12" sm="8">
        <h1>Create a Post</h1>
        <v-container fluid v-if="token.length !== 0">
          <v-form ref="form" id="regist-form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="title"
              label="Blog Title"
              required
            ></v-text-field>

            <v-textarea
              v-model="description"
              clearable
              clear-icon="mdi-close-circle"
              label="Text"
              value="This is clearable text."
            ></v-textarea>

            <v-btn
              :disabled="!valid"
              color="success"
              class="mr-4"
              @click="createPost"
            >
              Create Post
            </v-btn>

            <v-btn color="error" class="mr-4" @click="reset">
              Reset Form
            </v-btn>
          </v-form>
        </v-container>
      </v-col>
      <v-col cols="12" sm="2"></v-col>
    </v-row>
  </v-main>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";
export default {
  data: () => ({
    title: "",
    description: "",
    dialog: false,
    valid: true,
  }),
  computed: {
    ...mapState({
      token: (state) => state.token,
    }),
  },
  methods: {
    async createPost() {
      let formData = new FormData();
      formData.append("title", this.title);
      formData.append("description", this.description);

      const config = {
        method: "post",
        url: "https://demo-api-vue.sanbercloud.com/api/v2/blog",
        data: formData,
        headers: {
          Authorization: `Bearer ` + this.token,
        },
      };
      try {
        let response = await axios(config);
        this.reset();
        this.$router.push(`/blog/${response.data.blog.id}`)
        // console.log(response.data.blog.id);
      } catch (error) {
        console.log(error);
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    password() {},
  },
};
</script>

<style scoped>
#btn-text {
  margin-left: 2em;
}

#regist-form {
  padding: 2rem;
}
</style>