<template>
<!-- HARD CODED UNTUK KEPERLUAN DISPLAY KARENA API PUBLIC -->
  <v-main class="grey lighten-3">
    <v-row>
      <v-col cols="12" sm="7" id="col-1">
        <div>
          <img id="img-1" src="../assets/shanghai.jpg" alt="" width="640" height="360" />
        </div>
      </v-col>
      <v-col cols="12" sm="5" id="col-2">
        <h1>Shanghai<br />in the Night.</h1>
        <h6>Created at Sunday 14:39,
          June 15<sup>th</sup>  2022</h6>
      </v-col>
    </v-row>
    <v-row id="p-1">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia,
        reiciendis corporis aperiam architecto quas amet vero error nam magni
        quod delectus sapiente, inventore veritatis quae a voluptatum! Sequi eum
        placeat quia asperiores quae animi inventore id dicta amet at soluta
        fugit minima, quod dolorum sint quos, accusamus, nisi sed doloribus.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est aspernatur
        repellat commodi labore. Aut minus hic fuga magni doloremque
        consequuntur necessitatibus quisquam numquam, temporibus veniam! Dolor
        recusandae eveniet iure laborum illo tempore vel labore corrupti
        nostrum? Dolor sunt quasi saepe facilis distinctio maxime corrupti vero.
        Amet repellat, accusamus, ea unde facere ab deleniti eum incidunt
        deserunt esse sit maxime?<br><br>Excepturi ullam neque explicabo, repellendus
        doloremque veniam inventore nemo quibusdam saepe perferendis deserunt
        voluptas, quaerat aut ipsam ad tempora tempore error quod voluptatibus
        totam praesentium iste? Earum reprehenderit odit doloribus nesciunt
        tenetur natus hic corrupti ducimus illo saepe officia corporis similique
        modi, molestiae laborum possimus minima accusantium veniam quaerat
        consequatur aliquid!<br><br>Incidunt magnam assumenda similique quia voluptate
        dicta? Itaque dignissimos sunt incidunt nemo pariatur quisquam
        asperiores iusto quod perferendis, totam facere dolorum inventore beatae
        harum veritatis saepe ipsum accusamus! Ad, sint?
      </p>
    </v-row>
    
  </v-main>
<!-- HARD CODED UNTUK KEPERLUAN DISPLAY KARENA API PUBLIC -->
</template>


<script>
export default {};
</script>

<style scoped>
/* HARD CODED UNTUK KEPERLUAN DISPLAY KARENA API PUBLIC */


#col-2 {
  text-align: left;
}

#col-2 h1 {
  border-left: solid 10px black;
  padding: 1rem;
  font-size: 4em;
}

#col-2 h6 {
  margin-top: 10px;
  margin-left: 3em;
}

#img-1 {
    padding: 0;
}

#p-1 {
  padding: 12px;
  max-width: 70%;
  font-size: 16pt;
}

/* HARD CODED UNTUK KEPERLUAN DISPLAY KARENA API PUBLIC */

</style>

