<template>
  <v-row justify="start">
    <v-dialog v-model="dialog" persistent max-width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn text color="warning" @click="setBlog(blog)" dark v-bind="attrs" v-on="on">
          <v-icon left>mdi-note</v-icon> Edit Post
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="text-h5">
          {{ "Editting Post : " + blog.id }}
        </v-card-title>
        <v-card-actions>
          <v-form ref="form" id="edit-post">
            <v-text-field
              v-model="title"
              label="Blog Title"
              required
              :value="blog.title"
            ></v-text-field>

            <v-textarea
              v-model="description"
              clearable
              clear-icon="mdi-close-circle"
              label="Description"
              :value="blog.description"
            ></v-textarea>

            <v-btn color="success" class="mr-4" @click="editPost(blog.id)">
              Submit Edit
            </v-btn>

            <v-btn color="error" class="mr-4" @click="dialog = false">
              Cancel
            </v-btn>
          </v-form>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";

export default {
  data: () => ({
    title: "",
    description: "",
    dialog: false,
  }),
  props: ["blog"],
  computed: {
    ...mapState({
      token: (state) => state.token,
    }),
  },
  methods: {
    setBlog: function (blog) {
        this.title = blog.title,
        this.description = blog.description
    },
    async editPost(id) {
      let formData = new FormData();
      formData.append("title", this.title);
      formData.append("description", this.description);
      const config = {
        method: "post",
        url: `https://demo-api-vue.sanbercloud.com/api/v2/blog/${id}?_method=PUT`,
        params: {
          _method: "PUT",
        },
        data: formData,
        headers: {
          Authorization: `Bearer ` + this.token,
        },
      };
      try {
        let response = await axios(config);
        (this.dialog = false), this.$emit("update-list");
        console.log(response.data);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
#edit-post {
    padding: 1rem 2rem 1rem 1rem;
    min-width: 480px;
}
</style>