<template>
  <v-row justify="start">
    <v-dialog v-model="dialog" persistent max-width="290">
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="error" dark v-bind="attrs" v-on="on">
          <v-icon left>mdi-close</v-icon> Remove
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="text-h5">
          Are you sure?
        </v-card-title>
        <v-card-text
          >Removing post will affect everyone with the DB access.</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">
            Disagree
          </v-btn>
          <v-btn color="red darken-1" text @click="deletePost(blog.id)">
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from 'axios'
import { mapState } from "vuex";

export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    dialog: false,
  }),
  props: ["blog"],
  computed: {
    ...mapState({
      token: (state) => state.token,
    }),
  },
  methods: {
      async deletePost(id) {
      const config = {
        method: "delete",
        url: `https://demo-api-vue.sanbercloud.com/api/v2/blog/${id}`,
        headers: {
          Authorization: `Bearer ` + this.token,
        },
      };
      try {
        let response = await axios(config);
        this.dialog = false,
        this.$emit('update-list')
        console.log(response.data);
      } catch (error) {
        console.log(error);
      }
    },
  }
};
</script>