<template>
  <v-row justify="start">
    <v-dialog v-model="dialog" persistent max-width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn text color="warning" dark v-bind="attrs" v-on="on">
          <v-icon left>mdi-camera</v-icon> Change Photo
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="text-h5"> Change this post photo? </v-card-title>
        <v-card-actions>
          <input type="file" ref="photo" />
        </v-card-actions>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey darken-1" text @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn color="blue darken-1" text @click="uploadPhoto(blog.id)">
            Submit Photo
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";

export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    dialog: false,
  }),
  props: ["blog"],
  computed: {
    ...mapState({
      token: (state) => state.token,
    }),
  },
  methods: {
    async uploadPhoto(id) {
      let formData = new FormData();
      formData.append("photo", this.$refs.photo.files[0]);
      const config = {
        method: "post",
        url: `https://demo-api-vue.sanbercloud.com/api/v2/blog/${id}/upload-photo`,
        data: formData,
        headers: {
          Authorization: `Bearer ` + this.token,
        },
      };
      try {
        let response = await axios(config);
        (this.dialog = false), this.$emit("update-list");
        console.log(response.data);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>