<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-list-item link v-bind="attrs" v-on="on">
          <v-icon>mdi-lock</v-icon>
          <span id="btn-text">Logout</span> 
        </v-list-item>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          Successfully Logged Out
        </v-card-title>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" text @click="userLogout(), dialog = false"> I accept </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import axios from 'axios'
export default {
  data() {
    return {
      dialog: false,
    };
  },
  computed: {
    ...mapState({
      token: (state) => state.token,
    })
  },
  methods: {
    async userLogout() {
      const config = {
        method: "post",
        url: 'https://demo-api-vue.sanbercloud.com/api/v2/auth/logout',
        headers: {
          Authorization: `Bearer ` + this.token,
        },
      };
      try {
        let response = await axios(config);
        this.dialog = false,
        this.setToken('')
        this.$emit('trigger-logOut')
        console.log(response.data.message);
      } catch (error) {
        console.log(error);
      }
    },
    setToken (value) {
      this.$store.dispatch('setToken', value)
    },
  }
};
</script>

<style scoped>
#btn-text {
    margin-left: 2em;
}
</style>